/* noto-sans-tc-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/noto-sans-tc/noto-sans-tc-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
    body{
        font-family: 'Noto Sans TC',sans-serif;
        margin: 0;
        color: #4e4e4e;
        counter-reset: myCounter;
    }
    p{
        margin: 4px;
    }
    h3{
        color: #67776f;
        margin: 20px 0 5px;/*上 左右 下*/
    }
    .personal-info{
        background-color: #DEE9E3;
        height: 200px;
        padding-top: 30px;
    }
    .personal-photo{
        width: 100px;
        height: 100px;
        border-radius: 50px;/*表圓形*/
        overflow: hidden;   /*當內容超出了元素框時，將其隱藏並不顯示*/ 
    }
    .personal-photo img{
        width: 170%;
        margin-left: -25%;
        margin-top: -30%;
    }
    .personal-content{
        width: 70%;
        margin: 0 auto;/*置中*/
        display: flex;
    }
    .personal-content-left {
        display: flex;
        flex-direction: column;
        align-items: center;         
    }
    .about-me-info{
        width: 80%;
        margin: 0 auto;
    }
    .line-node{
        border-left:3px solid #67776f;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;/*水平方向上平均分布*/
        margin-left: 20px;
    }
    .line-node::before{/*偽元素*/
        content: "";
        width: 10px;
        height: 10px;
        background-color: #67776f;
        position: absolute;
        border-radius:50% ;/*半徑50*/
        transform:translate(-16px,0);/*x軸,y軸的移動；-表向左*/
    }
    .company-info{
        margin-left: 30px;
        display: flex;
        flex-direction: column;/* 將 company-photo 內容以垂直方向排列 */
        word-wrap: break-word; /* 強制換行，即使單詞沒有空格 */
    }
    .company-photo{
        width: 500px;
    }
    .company-photo img{
        width: 450px; /* 設定圖片寬度佔據整個 company-photo 寬度 */
        margin: 0 0 0 50px;
    }
    .small-title{
        color: #67776f;
        font-size: 14px;
        padding-left:5px ;
        margin: 5px 0 8px;/*上 左右 下*/
    }
    ul{
        padding-left: 20px;
    }
    .education-info{
        display: flex;
        flex-wrap: wrap;
    }
    .school-info{
        display: flex;
        width: 43%;
    }
    .school-info::before{
        counter-increment: myCounter;/*遞增*/
        content: counter(myCounter);
        width: 25px;
        height: 25px;
        background-color: #67776f;
        position: absolute;
        border-radius:50% ;
        transform:translate(8px,0px);/*(x,y)*/
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white; /* 數字的文字顏色 */
        font-weight: bold; /* 加粗文字 */
    }
    .education-content{
        margin:10px 0 0 60px;
    }
    .education-img img{
        width: 60px;
        margin: 10px 0 0 20px;
    }
    .skill-info{
        border:3px solid #67776f;
        display: flex;
        margin-left: 20px;
        width: 200px;
        line-height:30px /* 設定適當的行高 */;
        justify-content: center;
        align-items: center;
    }
    .s-line{
        display: flex;
        flex-direction: column; /* 垂直方向排列子元素 */
        margin-left: 20px;
        width: 200px;
        justify-content: flex-start;
        align-items: center;
    }  
    .s-line p {
        margin: 10px 0 0 0; /* 调整段落之间的底部间距 */
    }
    .average-space{
        flex: 1; /* 子元素平均占据可用空间 */
        margin: 0 10px; /* 可选：增加子元素之间的间距 */
    }
    .flex-row-space-between {
        display: flex;
        flex-direction: row; /* 水平方向排列子元素 */
        justify-content: space-between; /* 在容器内平均分布子元素，可以根据需要调整 */
    }
    .competitions-info{
        border:3px solid #67776f;
        display: flex;
        width: 100%;
        line-height:30px /* 設定適當的行高 */;
        display: flex;
        justify-content: center;
        margin-right:10px ;
    }
    .title-info{
        color: #67776f;
        font-size: 14px;
        position: absolute;
    }
    .c-line{
        margin-top:10px ;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .c-info{
        display: flex;
        flex-direction: column;/* 將 c-content 內容以垂直方向排列 */
        height: 100%;/* 使用百分比設定高度，以撐開與 c-content 同樣的高度 */
    }
    .c-content{
        width: 500px;
        height: 300px;
        order:2; /*2表右邊*/
        display: flex;
        flex-direction: column;  
        margin: 10px 0 0;
    }
    .c-content img{
        width: 300px;
        height: 150px;
        margin:0 11px 5px 0;
        border: 2px solid #67776f; /* 2px寬的黑色實線邊框 */
    }
    .flex-container6 {
        display: flex;
        flex-direction: row; /* 水平方向排列子元素 */
        justify-content: space-between; /* 在容器内平均分布子元素，可以根据需要调整 */
    }
    .flex-container7 {
        display: flex;
        flex-direction: row; /* 水平方向排列子元素 */
        justify-content: space-between; /* 在容器内平均分布子元素，可以根据需要调整 */
    }
    .c-content1{
        width: 500px;
        height: 250px;
        order:2; /*2表右邊*/
        display: flex;
        flex-direction: column;  
        margin: 10px 0 0;
    }
    .c-content1 img{
        width: 300px;
        height: 350px;
        margin:0 11px 5px 0;
        border: 2px solid #67776f; /* 2px寬的黑色實線邊框 */
    }
    .others{
        color: #67776f;
        font-size: 14px;
    }